@font-face {
  font-family: 'RobotoMono-Light';
  src: url('RobotoMono-Light.ttf') format('truetype');
}


*{
	padding:0px;
	margin:0px;
	border:0px;
	font-family: 'RobotoMono-Light';
	font-weight:400;
	font-size:15px;
	text-decoration:none;
	color:#fff
}

body{
	background-color:#222
}

.title{
	display:flex;
	justify-content:center;
	align-items:center;
	display:-webkit-flex;
	-webkit-justify-content:center;
	-webkit-align-items:center;
	height:260px
}

.title

a img{
	margin:4px;
	padding:10px;
	border:1px solid #0;
	transition:border 0.3s;
	height:25px;
	width:25px;
	-webkit-filter:grayscale(0%);
	filter:grayscale(0%)
}
	
.title

 a img:hover{
 	border:1px solid #c0c5ce
 }

 .content{
 	display:flex;
 	justify-content:center;
 	align-items:center;
 	flex-direction:row;
 	flex-wrap:wrap;
 	display:-webkit-flex;
 	-webkit-justify-content:center;
 	-webkit-align-items:center;
 	-webkit-flex-direction:row;
 	-webkit-flex-wrap:wrap;
 	margin:30px auto;
 	max-width:1300px
 }

 .content .item{
 	margin:40px;
 	width:300px;
 	border-top:1px solid #c0c5ce;
 	overflow:hidden
 }

 .content .item .icon-holder{
 	width:100%;
 	display:flex;
 	justify-content:flex-end;
 	align-items:flex-start;
 	display:-webkit-flex;
 	-webkit-justify-content:flex-end;
 	-webkit-align-items:flex-start;
 	height:25px
}

.content .item .icon-holder .icon-twist{
	-ms-transform:rotate(45deg) translate(0%, -70%);
	-webkit-transform:rotate(45deg) translate(0%, -70%);
	transform:rotate(45deg) translate(0%, -70%);
	position:relative;
	height:160px;
	width:160px;
	overflow:hidden
}

.content .item .icon-holder .icon-twist .img{
	-ms-transform:rotate(-45deg) translate(50%, 50%);
	-webkit-transform:rotate(-45deg) translate(50%, 50%);
	transform:rotate(-45deg) translate(-50%, 50%);
	background-size:cover;
	background-position:center;
	height:130px;
	width:130px
}

.content .item .links-all a{
	display:inline-block;
	width:100%;
	box-sizing:border-box;
	padding:3px 20px;
	color:#c0c5ce;
	transition:color 0.3s
}.content .item .links-all 

a:hover{color:#fff}
